body{
    background: #aafa;
    margin: 0;
    padding: 0;

}
.toggle{
    position: absolute;
    height: 200px;
    width: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.toggle span{
    height: 10px;
    display: block;
    width: 200px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .20);
    transition: .5s;
}
.toggle span:nth-child(1){
    transform: translate(-50%,-50%) translateY(-40px);
    transition: .5s;

}
.toggle span:nth-child(4){
    transform: translate(-50%,-50%) translateY(40px);
    transition: .5s;

}
.toggle.active span:nth-child(1){
    transform: translate(-50%,-50%) translateY(-80px);
    transition: .5s;
    opacity: 0;
}
.toggle.active span:nth-child(4){
    transform: translate(-50%,-50%) translateY(80px);
    transition: .5s;
    opacity: 0;
}
.toggle.active span:nth-child(2){
    transform: translate(-50%,-50%) rotate(45deg);
    transition: .5s;
    transition-delay: .3s;
}
.toggle.active span:nth-child(3){
    transform: translate(-50%,-50%) rotate(-45deg);
    transition: .5s;
    transition-delay: .3s;

}